* {
    direction: rtl;
    margin: 0;
    padding: 0;
    border: none;
    font-family: your-favorite-font-name;
}

ul.inline, ul.inline li {
    display: inline-block;
}

.category-name {
    display: block;
    text-align: center;
}

.category-icon {
    display: block;
    text-align: center;
    width: 20px;
    height: 20px;
    margin: auto;
}

ul#category {
    background-color: #333333;
    list-style-type: none;
}

    ul#category li {
        min-width: 50px;
        margin: 5px auto;
        cursor: pointer;
        color: #dedee6;
    }

#category li div {
    display: block;
}

ul#category li:hover div {
    color: #fff;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333333;
    color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.dropdown-content a:hover {
    color: red;
}

#menu-content {
    width: 300px;
    height: 400px;
    float: none;
}

.gallery {
    width: 1100px;
    background-color: #333333;
    float: none;
}
