body {
}

#wrapper {
    display: inline-block;
    background-color: blue;
}

#main-content {
    display: inline-block;
    width: 120px;
    height: 120px;
    background-color: aqua;
    padding: 10px;
}

#container {
    background-color:green;
    overflow :hidden;
   
}

.item {
    width: 100px;
    height: 100px;
    float : right ;
}

.first {
    background-color: red;
}

.second {
    background-color: aquamarine;
}

.third {
    background-color: blueviolet;
}

